[submodule "my_plugins/ctx"]
	path = my_plugins/ctx
	url = https://github.com/vim-scripts/ctx.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "my_plugins/vim-airline"]
	path = my_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "my_plugins/vim-cpp-enhanced-highlight"]
	path = my_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "my_plugins/vim-wombat-scheme"]
	path = my_plugins/vim-wombat-scheme
	url = git@github.com:michaelolsonengineer/vim-wombat-scheme.git
